$mainMenuHeight: $headerHeight;
$menuIconColor: $dark-grey;
$popupBackgroundColor: $white;

.main-menu {
  position: relative;
  display: inline-flex;
  transition: background-color .3s;
  height: 100%;
  padding: 0 1em;

  & > .icon { display: none; }
  & > .list.-popup { display: none; }

  @media (max-width: 920px) {
    & > .icon {
      display: block;
      width: 30px;
      height: 30px;
      align-self: center;
      fill: $menuIconColor;
    }
    
    & > .list {
      display: none;
      position: absolute;
      right: 0;
      padding: 2em;
      top: $mainMenuHeight;
      background-color: $popupBackgroundColor;
    }
  
    & > .list.-largescreen {
      display: none;
    }

    &:hover > .list {
      display: block;
    }
  
    & > .list > .item {
      font-size: 1.5em;
    }
  }

  @media (min-width: 920px) {
    & > .list {
      display: flex;
      align-items: center;
    }

    & > .list .item {
      cursor: pointer;
      font-size: 1.5em;
      margin: 0 1em;
    }
  }  
}