.login-page {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;

  @media (max-width: 640px) {
    // padding: 0 1em;
  }

  & > .illustration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 50%;
    background-color: $light-grey;
  }
  & > .illustration > .welcome {
    font-size: 3em;
    color: $grey;
    margin-top: 1em;
  }

  & > .illustration > [class^="router-link"] {
    font-size: 1.5em;
    margin-top: 3em;
    color: $grey;
  }

  & > .container {
    display: flex;
    flex: 1 1 50%;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 1000px) {
    & > .illustration {
      display: none;
    }
  }

  & > .container > .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    flex: 0 1 400px;
    padding: 0 1em;
  }

  & > .container > .form > .title {
    display: block;
    font-size: 3em;
    color: $dark-grey;
  }

  & > .container > .form > .commands {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  & > .container > .form > .commands > .button {
    display: flex;
    flex: 0 0 45%;
  }

  & > .container > .form > .button.-providerlogo {
    display: flex;
  }

  & > .container > .form > .button.-providerlogo > .logo {
    height: 80%;
    width: 2em;
    margin-right: 3em;
  }
}