.pack-class {
  display: flex;
  align-items: center;
  color: $dark-grey;
  padding: 3em 2em;
  background-color: $light-grey;

  & > .info {
    flex: 1 1 auto;
  }

  & > .info > .title {
    font-size: 2.5em;
    margin-bottom: 1em;
  }

  & > .info > .subtitle {
    font-size: 1.8em;
    margin-bottom: 1em;
  }

  & > .info > .description {
    font-size: 1.2em;
    line-height: 2em;
    text-align: justify;
  }

  & > .imagem {
    flex: 0 0 100px;
    margin-left: 5em;
  }

  @media (max-width: 960px) {
    flex-direction: column;

    & > .info {
      order: 1;
    }
    & > .imagem {
      order: 0;
      margin-bottom: 3em;
    }
  }
}