.product-detail {
  display: flex;
  justify-content: space-between;
  padding: 3em 2em;
  color: $dark-grey;

  & > .product {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0 2em;
  }

  & > .product > .title {
    font-size: 2.5em;
    margin-bottom: 1em;
  }
  & > .product > .description {
    font-size: 1.2em;
    line-height: 2em;
    text-align: justify;
  }
}