.product-detail {
  display: flex;
  justify-content: space-between;
  padding: 3em 2em;
  color: $dark-grey;

  & > .product {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0 2em;
  }

  & > .product > .title {
    display: flex;
    align-items: center;
    font-size: 2.5em;
    margin-bottom: 1em;
  }

  & > .product > .title > .icon {
    color: $dark-grey;
    margin-right: .5em;
  }

  & > .product > .description {
    font-size: 1.2em;
    line-height: 2em;
    text-align: justify;
  }

  @media (max-width: 700px) {
    flex-direction: column;

    & > .product {
      margin-bottom: 2em;
    }
  }
}