// Please leave this file in alphabetic order
$white: #FAFAFA;

$primary: #318BA3;
$success: #14AB6E;
$warning: #FFAA4B;
$danger: #FF384F;

$grey: #999;
$dark-grey: #333;
$light-grey: #EFEFEF;

$darkLevel: 10;
$primary-dark: darken($primary, $darkLevel);
$success-dark: darken($success, $darkLevel);
$warning-dark: darken($warning, $darkLevel);
$danger-dark: darken($danger, $darkLevel);

$lightLevel: 10;
$primary-light: lighten($primary, $lightLevel);
$success-light: lighten($success, $lightLevel);
$warning-light: lighten($warning, $lightLevel);
$danger-light: lighten($danger, $darkLevel);