// Please leave this file in alphabetic order
$white: #FAFAFA;

$primary: blue;
$success: green;
$warning: yellow;
$danger: red;

$grey: #999;
$dark-grey: #333;
$light-grey: #EEE;

$darkLevel: 10;
$primary-dark: darken($primary, $darkLevel);
$success-dark: darken($success, $darkLevel);
$warning-dark: darken($warning, $darkLevel);
$danger-dark: darken($danger, $darkLevel);

$lightLevel: 10;
$primary-light: lighten($primary, $lightLevel);
$success-light: lighten($success, $lightLevel);
$warning-light: lighten($warning, $lightLevel);
$danger-light: lighten($danger, $darkLevel);