.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .content {
    max-width: 1200px;
  }

  & .hometitle {
    text-align: center;
    font-size: 3em;
    color: $dark-grey;
    margin-top: 2em;
  }
    
  & > .content > .plans-price {
    margin: 3em 0;
  }
}