$footerHeight: 80px;

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $footerHeight;
  padding: 2em;
  background-color: #222;

  & > .rights {
    color: #FFF;
  }

  & > .logo {}
}