$footerHeight: 80px;

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $footerHeight;
  padding: 2em;
  background-color: $dark-grey;
  width: 100%;

  & > .rights {
    color: $white;
  }
}