$mainMenuHeight: $headerHeight;
$menuIconColor: $dark-grey;
$popupBackgroundColor: $white;

.main-header {
  position: fixed;
  display: flex;
  width: 100%;
  height: $headerHeight;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 100;
  background-color: transparentize($popupBackgroundColor, 1);
  color: $white;
  transition: background-color .3s;

  &.-opaque {
    background-color: $popupBackgroundColor;
    color: $dark-grey;
  }

  & > .link {
    display: flex;
    justify-content: center;
  }
  
  & > .link > .logo {
    margin: 0 2em;
  }
  
  & > .main-menu {
    position: relative;
    display: inline-flex;
    transition: background-color .3s;
    height: 100%;
    padding: 0 1em;
  }
  & > .main-menu > .icon {
    display: none;
    fill: $white;
    width: 30px;
    height: 30px;
    align-self: center;
  }

  &.-opaque > .main-menu > .icon {
    fill: $dark-grey;
  }

  & > .main-menu > .list.-popup { display: none; }

  @media (max-width: 920px) {
    & > .main-menu > .icon {
      display: block;
    }  
    & > .main-menu > .list {
      display: none;
      position: absolute;
      padding: 2em;
      top: $headerHeight;
      background-color: $popupBackgroundColor;
      width: 100vw;
    }
  
    & > .main-menu > .list.-largescreen {
      display: none;
    }

    & > .main-menu:hover > .list {
      display: block;
    }
  
    & > .main-menu > .list > .item {
      font-size: 1.2em;
      line-height: 3em;
      color: $dark-grey;
    }
  }

  @media (min-width: 920px) {
    & > .main-menu > .list {
      display: flex;
      align-items: center;
    }

    & > .main-menu > .list .item {
      cursor: pointer;
      font-size: 1.5em;
      margin: 0 1em;
    }
  }  
}


