@import "./svg-animation.scss";

.full-banner {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;

  & > .carousel {
    margin-left: 10em;
    width: 600px;
    z-index: 1;
    font-size: 1.4em;
  }

  @media (max-height: 650px) {
    & > .carousel {
      font-size: .9em;
      margin: 0 1em;
    }
  }

  & > .carousel > .details > .title {
    font-size: 2.5em;
    color: $white;
    margin-bottom: 1em;
  }

  & > .carousel > .details > .description {
    font-size: 1.5em;
    line-height: 1.5em;
    color: $white;
    margin-bottom: 2em;
  }

  & > .carousel > .details > .button {
    margin-bottom: 1em
  }
}

.details-item {
  display: inline-block;
  margin-right: 10px;
}
.details-enter-active, .details-leave-active {
  transition: all 1s;
}
.details-enter, .details-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
